mat-card {
  padding: 20px;
  max-width: 900px;
  margin: auto;
  background: #fff;
}

.full-width {
  width: 100%;
}

mat-grid-list {
  width: 100%;
}

mat-grid-tile {
  padding: 10px;
}

.text-red-400 {
  color: #f87171; /* Tailwind's red-400 */
}

.text-sm {
  font-size: 0.875rem; /* Tailwind's text-sm */
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  button {
    width: 200px;
    height: 45px;
    font-size: 16px;
    font-weight: bold;
  }
}

/* Uniform row height and gap adjustments */
mat-grid-list {
  --row-height: 100px; /* Adjust this value to set a uniform row height */
  --gutter-size: 20px; /* Adjust this value to set the gap between fields */
}

mat-grid-tile {
  height: var(--row-height);
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  mat-grid-list {
    display: flex;
    flex-direction: column;
  }

  mat-grid-tile {
    width: 100%;
    height: auto; /* Allow height to adjust based on content */
    margin-bottom: var(--gutter-size); /* Add gap between fields */
  }
}