<form [formGroup]="agentForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-title>Add Agent</mat-card-title>
    <mat-card-content>
      <div class="form-group">
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" required />
          <mat-error *ngIf="agentForm.get('firstName')?.invalid"
            >Required</mat-error
          >
        </mat-form-field>

        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" required />
        </mat-form-field>

        <mat-form-field>
          <mat-label>ID Number</mat-label>
          <input
            matInput
            formControlName="idNumber"
            required
            (input)="formatIdNumber()"
            maxlength="15"
          />
          <mat-error *ngIf="agentForm.get('idNumber')?.hasError('pattern')">
            Must be a valid ID (13 digits).
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" required />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Date of Birth</mat-label>
          // TODO dates no older than 1900 and no younger than one year younger
          than today
          <input matInput type="date" formControlName="dateOfBirth" required />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Privilege</mat-label>
          <mat-select formControlName="privilege">
            <mat-option value="Agent">Agent</mat-option>
            <mat-option value="Admin">Admin</mat-option>
          </mat-select>
        </mat-form-field>

        <div formGroupName="contactInformation">
          <mat-form-field>
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="phoneNumber" required />
          </mat-form-field>

          <mat-form-field>
            <mat-label>City</mat-label>
            <input matInput formControlName="city" required />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput formControlName="address" required />
          </mat-form-field>

          <mat-form-field>
            <mat-label>State</mat-label>
            //TODO make this select, with all the 18 departments of the country
            Honduras
            <input matInput formControlName="state" required />
          </mat-form-field>
        </div>

        <mat-form-field>
          <mat-label>Short Biography</mat-label>
          <textarea matInput formControlName="biography"></textarea>
        </mat-form-field>

        <mat-divider></mat-divider>

        <h3>Security</h3>
        <mat-form-field>
          <mat-label>New Password</mat-label>
          <input matInput type="password" formControlName="password" />
        </mat-form-field>

        <mat-grid-list
          cols="1"
          rowHeight="20px"
          gutterSize="10px"
          class="text-red-400 text-sm"
          *ngIf="
            agentForm.get('password')?.dirty &&
            agentForm.get('password')?.hasError
          "
        >
          <mat-grid-tile
            class="block"
            *ngIf="!agentForm.get('password')?.value.match('.{8,}')"
            >At least 8 characters long.</mat-grid-tile
          >

          <mat-grid-tile
            class="block"
            *ngIf="!agentForm.get('password')?.value.match('(?=.*[!@#$%^&*])')"
            >At least one special character.</mat-grid-tile
          >

          <mat-grid-tile
            class="block"
            *ngIf="!agentForm.get('password')?.value.match('^(?=.*[A-Z])')"
            >At least one uppercase letter.</mat-grid-tile
          >
          <mat-grid-tile
            class="block"
            *ngIf="!agentForm.get('password')?.value.match('(?=.*[a-z])')"
            >At least one lowercase letter.</mat-grid-tile
          >
          <mat-grid-tile
            class="block"
            *ngIf="!agentForm.get('password')?.value.match('(.*[0-9].*)')"
            >At least one digit.</mat-grid-tile
          >
        </mat-grid-list>

        <mat-form-field>
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="confirmPassword" />
        </mat-form-field>

        <div
          class="text-red-400 text-sm"
          *ngIf="
            agentForm.get('confirmPassword')?.dirty &&
            agentForm.hasError('passwordMismatch')
          "
        >
          Passwords do not match.
        </div>

        <mat-slide-toggle formControlName="isActive">Active</mat-slide-toggle>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="agentForm.invalid"
      >
        Create Agent
      </button>
      <button mat-raised-button [routerLink]="['/agents']">Cancel</button>
    </mat-card-actions>
  </mat-card>
</form>
