mat-card {
    padding: 20px;
    max-width: 900px;
    margin: auto;
    background: #fff;
  }
  
  .full-width {
    width: 100%;
  }
  
  mat-grid-tile {
    padding: 10px;
  }
  
  .switch-container {
    display: flex;
    align-items: center;
    padding-left: 10px;
  
    mat-slide-toggle {
      margin-left: 5px;
    }
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  
    button {
      width: 200px;
      height: 45px;
      font-size: 16px;
      font-weight: bold;
    }
  }
  
  @media (max-width: 768px) {
    mat-grid-list {
      display: flex;
      flex-direction: column;
    }
  
    mat-grid-tile {
      width: 100%;
    }
  }