<div class="admin-container">
  <!-- Title -->
  <div class="header-container">
    <h2>Configuration</h2>
    <button mat-raised-button color="primary" [routerLink]="['create']">
      + New
    </button>
  </div>

  <!-- Sections Container -->
  <div class="sections-container">
    <!-- Majors Section -->
    <div class="section">


    <!-- Programs Section -->
    <div class="section">
      <h3>Programs</h3>
      <mat-table [dataSource]="programs$" >
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              [routerLink]="['edit', CONFIG_TYPES.PROGRAM, element.id]"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              (click)="openDeleteDialog(CONFIG_TYPES.PROGRAM, element.id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>


<!--      <h3>Majors</h3>
      <mat-table [dataSource]="majors$" >
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              [routerLink]="['edit', CONFIG_TYPES.MAJOR, element.id]"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              (click)="openDeleteDialog(CONFIG_TYPES.MAJOR, element.id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>



 - Diagnoses Section
    <div class="section">
      <h3>Diagnoses</h3>
      <mat-table [dataSource]="diagnoses$" >
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              [routerLink]="['edit', CONFIG_TYPES.DIAGNOSIS, element.id]"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              (click)="openDeleteDialog(CONFIG_TYPES.DIAGNOSIS, element.id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
    -->

  </div>
</div>
